body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    background: #6247c7;
  }
  .card {
    background: #afb7ff;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 77, 115, 0.07);
    border-radius: 10px;
    padding: 30px 40px;
    font-size: 2rem;
  }